.21_2 { 
	overflow:hidden;
}
.e21_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:4449px;
	position:absolute;
}
.e16_37 { 
	background-color:rgba(12.000000234693289, 97.00000181794167, 149.00000631809235, 1);
	width:1920px;
	height:3826px;
	position:absolute;
	left:0px;
	top:623px;
}
.e38_45 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 0.20000000298023224);
	width:468px;
	height:539px;
	position:absolute;
	left:1018px;
	top:2854px;
	border-top-left-radius:12.12578296661377px;
	border-top-right-radius:12.12578296661377px;
	border-bottom-left-radius:12.12578296661377px;
	border-bottom-right-radius:12.12578296661377px;
}
.e36_30 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 0.20000000298023224);
	width:468px;
	height:539px;
	position:absolute;
	left:433px;
	top:2854px;
	border-top-left-radius:12.12578296661377px;
	border-top-right-radius:12.12578296661377px;
	border-bottom-left-radius:12.12578296661377px;
	border-bottom-right-radius:12.12578296661377px;
}
.e36_31 { 
	color:rgba(112.000000923872, 193.00000369548798, 255, 1);
	width:312px;
	height:37px;
	position:absolute;
	left:452px;
	top:3142px;
	font-family:Nunito;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e36_33 { 
	color:rgba(255, 255, 255, 1);
	width:439px;
	height:127px;
	position:absolute;
	left:452px;
	top:3239px;
	font-family:Nunito;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e38_42 { 
	color:rgba(112.000000923872, 193.00000369548798, 255, 1);
	width:312px;
	height:37px;
	position:absolute;
	left:1037px;
	top:3140px;
	font-family:Nunito;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e38_44 { 
	color:rgba(255, 255, 255, 1);
	width:439px;
	height:202px;
	position:absolute;
	left:1037px;
	top:3237px;
	font-family:Nunito;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e36_34 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 0.20000000298023224);
	width:469px;
	height:554px;
	position:absolute;
	left:1037px;
	top:1528px;
	border-top-left-radius:12.12578296661377px;
	border-top-right-radius:12.12578296661377px;
	border-bottom-left-radius:12.12578296661377px;
	border-bottom-right-radius:12.12578296661377px;
}
.e36_35 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 0.20000000298023224);
	width:458px;
	height:554px;
	position:absolute;
	left:452px;
	top:1528px;
	border-top-left-radius:12.12578296661377px;
	border-top-right-radius:12.12578296661377px;
	border-bottom-left-radius:12.12578296661377px;
	border-bottom-right-radius:12.12578296661377px;
}
.e36_36 { 
	color:rgba(112.000000923872, 193.00000369548798, 255, 1);
	width:312px;
	height:37px;
	position:absolute;
	left:471px;
	top:1816px;
	font-family:Nunito;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e36_38 { 
	color:rgba(255, 255, 255, 1);
	width:430px;
	height:169px;
	position:absolute;
	left:471px;
	top:1913px;
	font-family:Nunito;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e36_39 { 
	color:rgba(112.000000923872, 193.00000369548798, 255, 1);
	width:312px;
	height:37px;
	position:absolute;
	left:1056px;
	top:1814px;
	font-family:Nunito;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e36_40 { 
	width:424px;
	height:242px;
	position:absolute;
	left:1056px;
	top:1556px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	background-image:url(images/satyam_21.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e36_41 { 
	color:rgba(255, 255, 255, 1);
	width:439px;
	height:202px;
	position:absolute;
	left:1056px;
	top:1898px;
	font-family:Nunito;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e36_18 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 0.20000000298023224);
	width:468px;
	height:539px;
	position:absolute;
	left:726px;
	top:2191px;
	border-top-left-radius:12.12578296661377px;
	border-top-right-radius:12.12578296661377px;
	border-bottom-left-radius:12.12578296661377px;
	border-bottom-right-radius:12.12578296661377px;
}
.e36_19 { 
	color:rgba(112.000000923872, 193.00000369548798, 255, 1);
	width:312px;
	height:37px;
	position:absolute;
	left:745px;
	top:2479px;
	font-family:Nunito;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e36_20 { 
	width:424px;
	height:242px;
	position:absolute;
	left:745px;
	top:2221px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	background-image:url(images/satyam_16.jpg);
	background-repeat:no-repeat;
	background-size:cover;
}
.e36_21 { 
	color:rgba(255, 255, 255, 1);
	width:439px;
	height:202px;
	position:absolute;
	left:745px;
	top:2576px;
	font-family:Nunito;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e36_22 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 0.20000000298023224);
	width:468px;
	height:539px;
	position:absolute;
	left:1272px;
	top:2191px;
	border-top-left-radius:12.12578296661377px;
	border-top-right-radius:12.12578296661377px;
	border-bottom-left-radius:12.12578296661377px;
	border-bottom-right-radius:12.12578296661377px;
}
.e36_23 { 
	color:rgba(112.000000923872, 193.00000369548798, 255, 1);
	width:312px;
	height:37px;
	position:absolute;
	left:1291px;
	top:2480px;
	font-family:Nunito;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e36_24 { 
	width:424px;
	height:242px;
	position:absolute;
	left:1291px;
	top:2221px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	background-image:url(images/satyam_17.jpg);
	background-repeat:no-repeat;
	background-size:cover;
}
.e36_25 { 
	color:rgba(255, 255, 255, 1);
	width:439px;
	height:202px;
	position:absolute;
	left:1291px;
	top:2576px;
	font-family:Nunito;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e36_26 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 0.20000000298023224);
	width:468px;
	height:539px;
	position:absolute;
	left:170px;
	top:2191px;
	border-top-left-radius:12.12578296661377px;
	border-top-right-radius:12.12578296661377px;
	border-bottom-left-radius:12.12578296661377px;
	border-bottom-right-radius:12.12578296661377px;
}
.e36_27 { 
	color:rgba(112.000000923872, 193.00000369548798, 255, 1);
	width:312px;
	height:37px;
	position:absolute;
	left:189px;
	top:2479px;
	font-family:Nunito;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e36_28 { 
	width:424px;
	height:242px;
	position:absolute;
	left:189px;
	top:2221px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	background-image:url(images/William.jpg);
	background-repeat:no-repeat;
	background-size:cover;
}
.e36_29 { 
	color:rgba(255, 255, 255, 1);
	width:450px;
	height:181px;
	position:absolute;
	left:185px;
	top:2576px;
	font-family:Nunito;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e21_27 { 
	width:1920px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
}
.21_28 { 
	overflow:hidden;
}
.e21_28 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:1920px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
}
.e21_115 { 
	width:1920px;
	height:1136px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/sea_turle_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e21_30 { 
	background-color:rgba(20.000000707805157, 39.00000147521496, 74.0000031888485, 0.5);
	width:1940px;
	height:1097px;
	position:absolute;
	left:-10px;
	top:0px;
}
.e38_61 { 
	width:255px;
	height:69.49560546875px;
	position:absolute;
	left:830px;
	top:758.46240234375px;
}
.e38_62 { 
	background-color:rgba(12.000000234693289, 97.00000181794167, 149.00000631809235, 1);
	width:255px;
	height:69.49560546875px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:1px;
}
.e38_63 { 
	width:180.768798828125px;
	height:33.43475341796875px;
	position:absolute;
	left:48.80859375px;
	top:18.288330078125px;
}
.e38_64 { 
	color:rgba(255, 255, 255, 1);
	width:180.768798828125px;
	height:33.43475341796875px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Montserrat;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e4_25 { 
	width:135px;
	height:133px;
	position:absolute;
	left:75px;
	top:35px;
	background-image:url(images/ai_camp_logo_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e21_61 { 
	width:1540px;
	height:136px;
	position:absolute;
	left:210px;
	top:1285px;
}
.e21_62 { 
	color:rgba(255, 255, 255, 1);
	width:1540px;
	height:30px;
	position:absolute;
	left:0px;
	top:106px;
	font-family:Montserrat;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
}
.e21_63 { 
	color:rgba(255, 255, 255, 1);
	width:494px;
	height:90px;
	position:absolute;
	left:523px;
	top:0px;
	font-family:Poppins;
	text-align:center;
	font-size:60px;
	letter-spacing:5;
}
.e72_5 { 
	width:1540px;
	height:136px;
	position:absolute;
	left:202px;
	top:3584px;
}
.e72_6 { 
	color:rgba(255, 255, 255, 1);
	width:1540px;
	height:30px;
	position:absolute;
	left:0px;
	top:106px;
	font-family:Montserrat;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
}
.e72_7 { 
	color:rgba(255, 255, 255, 1);
	width:345px;
	height:90px;
	position:absolute;
	left:598px;
	top:0px;
	font-family:Poppins;
	text-align:center;
	font-size:60px;
	letter-spacing:5;
}
.e16_6 { 
	width:497px;
	height:250px;
	position:absolute;
	left:0px;
	top:1000px;
	background-image:url(images/scientistsur_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e16_3 { 
	width:688px;
	height:250px;
	position:absolute;
	left:422px;
	top:1000px;
	background-image:url(images/header_sea_otter_reintroduction_1_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e16_7 { 
	width:496px;
	height:250px;
	position:absolute;
	left:1044px;
	top:1000px;
	background-image:url(images/humpback_whale_shutterstock_craig_lambert_photography_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e16_11 { 
	width:537px;
	height:250px;
	position:absolute;
	left:1471px;
	top:1000px;
	background-image:url(images/thumb__1600_0_0_0_crop_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e13_28 { 
	color:rgba(255, 255, 255, 1);
	width:790px;
	height:305px;
	position:absolute;
	left:41px;
	top:235px;
	font-family:Poppins;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}
.e13_29 { 
	color:rgba(255, 255, 255, 1);
	width:444px;
	height:143px;
	position:absolute;
	left:41px;
	top:468px;
	font-family:Montserrat;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e21_183 { 
	color:rgba(255, 255, 255, 1);
	width:354px;
	height:44px;
	position:absolute;
	left:1676px;
	top:40px;
	font-family:Poppins;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
    z-index:10000;
}
.e36_42 { 
	color:rgba(255, 255, 255, 1);
	width:354px;
	height:44px;
	position:absolute;
	left:1436px;
	top:40px;
	font-family:Poppins;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
    z-index:1;
}
.e36_43 { 
	color:rgba(255, 255, 255, 1);
	width:354px;
	height:44px;
	position:absolute;
	left:1185px;
	top:40px;
	font-family:Poppins;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
    z-index:1;
}
.e16_13 { 
	color:rgba(112.000000923872, 193.00000369548798, 255, 1);
	width:354px;
	height:51px;
	position:absolute;
	left:987px;
	top:40px;
	font-family:Poppins;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e14_35 { 
	width:260px;
	height:63.50250244140625px;
	position:absolute;
	left:830px;
	top:646.7359619140625px;
}
.e14_36 { 
	background-color:rgba(52.000000700354576, 152.0000061392784, 219.0000021457672, 1);
	width:260px;
	height:63.50250244140625px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:1px;
}
.e14_37 { 
	width:260.313232421875px;
	height:30.55145263671875px;
	position:absolute;
	left:0px;
	top:17.06439208984375px;
}
.e14_38 { 
	color:rgba(255, 255, 255, 1);
	width:260.313232421875px;
	height:30.55145263671875px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Montserrat;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
}
.e13_6 { 
	color:rgba(255, 255, 255, 1);
	width:719px;
	height:305px;
	position:absolute;
	left:-1848px;
	top:98px;
	font-family:Poppins;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}
.e36_60 { 
	transform: rotate(-0.03521827359082535deg);
	width:120.0000228881836px;
	height:0px;
	position:absolute;
	left:887px;
	top:133.07376098632812px;
}
.36_60 { 
	border:4px solid rgba(112.000000923872, 193.00000369548798, 255, 1);
}
.e39_14 { 
	width:409px;
	height:242px;
	position:absolute;
	left:471px;
	top:1556px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	background-image:url(images/nemo_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e63_66 { 
	width:424px;
	height:242px;
	position:absolute;
	left:1040px;
	top:2884px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	background-image:url(images/rectangle_1157.jpg);
	background-repeat:no-repeat;
	background-size:cover;
}
.e71_2 { 
	width:424px;
	height:267px;
	position:absolute;
	left:455px;
	top:2875px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	background-image:url(images/rectangle_1159.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e65_61 { 
	width:424px;
	height:240px;
	position:absolute;
	left:1291px;
	top:2221px;
	border-top-left-radius:42px;
	border-top-right-radius:42px;
	border-bottom-left-radius:42px;
	border-bottom-right-radius:42px;
}
.e72_8 { 
	width:638px;
	height:139px;
	position:absolute;
	left:210px;
	top:3875px;
	background-image:url(images/corporate_logo_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_9 { 
	transform: rotate(89.87886742165672deg);
	width:473.0010681152344px;
	height:0px;
	position:absolute;
	left:971px;
	top:3866px;
}
.72_9 { 
	border:3px solid rgba(255, 255, 255, 1);
}
.e72_10 { 
	width:206px;
	height:226px;
	position:absolute;
	left:471px;
	top:4104px;
	background-image:url(images/figma2x_1048x_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e72_11 { 
	color:rgba(255, 255, 255, 1);
	width:424px;
	height:117px;
	position:absolute;
	left:1167px;
	top:3886px;
	font-family:Poppins;
	text-align:center;
	font-size:80px;
	letter-spacing:0;
}
.e72_12 { 
	width:224px;
	height:221px;
	position:absolute;
	left:1256px;
	top:4109px;
	background-image:url(images/2048px_python_logo_notext_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}

.learnMore{
    color: white;
}

.testFooter{
    position:fixed;bottom:0;left:0;right:0;height:30px;

      width: 100%;
}

