<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8">

  <title>Overview</title>
  <meta name="description" content="Figma htmlGenerator">
  <meta name="author" content="htmlGenerator">
  <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

  
  <link rel="stylesheet" href="{{ url_for('static', filename='overview_styles.css') }}" media="screen">


</head>

<body>
  <div class=e38_47>
    <div class="e42_11"></div>
    <div class="e42_15"></div><span class="e41_12"> Did you know that there are<b style="color:darkturquoise"> 2,270 </b> aquatic species that are endangered? </span>
    <span class="e38_53">Overview</span><span class="e41_16">Protect marine life
      We wanted to help preserve the biodiversity in our oceans by spreading awareness about these endangered sea
      creatures.</span><span class="e41_14">Why did we create this project?</span><span class="e41_18">Learn about AI. We were able to learn a lot about the basics of AI works, including an important subset: Machine
      learning.</span><div style='text-align:justify'></div> <span class="e47_3">Our goal was to identify endangered marine species in order to better protect
      them. Our AI is able to detect the presence of sea turtles, sea otters, blue whales, sharks, and dolphins, which
      can make people more aware of what marine life they are observing. </span><span class="e36_55"><a href="https://ai-camp.org" target="_blank">AI Camp</a></span><span
      class="e36_56"><a href = "timeline.html" >Timeline</a></span>
    <span class="e36_57"><a href="overview.html">Overview</a></span>
    <span class="e36_58"><a href="{{ url_for('home') }}">Home</a></span>
    <div class="e36_54"></div>
    <div class="e36_61"></div>
    <div class="e41_20"></div>
    <div class="e41_23"></div><span class="e41_17">To have fun!&#128516;
      We wanted to make a difference while having fun working as a team.</span>
  </div>
</body>

</html>