<html lang="en">

<head>
  <meta charset="utf-8">

  <title>Timeline</title>
  <meta name="description" content="Figma htmlGenerator">
  <meta name="author" content="htmlGenerator">
  <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{{ url_for('static', filename='timeline.css') }}" media="screen">


</head>

<body>
  <div class=e38_7>
    <div class="e38_8"></div><span class="e40_54">Week 1</span>
    <div class="e40_35"></div><span class="e40_50">Week 2</span>
    <div class="e40_37"></div>
    <div class="e72_4"></div><span class="e40_59">Week 3</span><span class="e38_13">Timeline</span>
    <div class="e38_14"></div><span class="e43_4">At the start of AI-camp, we first began learning the basics of python.
      Later throughout the week, we gathered images of endangered aquatic species, cleaned the data, and used Labelbox
      to mark the animal in the picture. </span>
    <div class="e42_12"></div><span class="e40_41">We finished labeling all our unfinished data in Labelbox and started
      writing the scripts to prepare our data for training. The rest of the week was spent waiting and tuning our script
      to perfect our image recognition system. By the end of Friday, we completed the project with high accuracy.
    </span><span class="e40_42">After completing the project, we dove into web development to showcase our project.
      Using Figma, we put together the front-end of this website. We used JavaScript to create the back-end of our
      website. On Friday, we demonstrated the project in front of our peers and finished the camp. </span>
    <div class="e42_13"></div>
    <div class="e42_14"></div>
    <div class="e36_49"></div><span class="e36_50"><a href="https://ai-camp.org" target="_blank">AI Camp</a> </span>
    <span class="e36_51"><a href = "timeline.html" >Timeline</a></span><span
      class="e36_52"><a href="overview.html">Overview</a></span><span class="e36_53"><a href="{{ url_for('home') }}">Home</a></span>
    <div class="e36_62"></div>
    <div class="e72_2"></div>
  </div>
</body>

</html>